 <div class="card mb-3 ml-2 mr-2" style="max-width: 50rem;">
         <div class="card-header">
            <h5 class="card-title" style="margin-bottom: 0;">
                <div class="row">
                    <div class="col-sm-6" >
                        <img src="{{ user.avatar(36) }}" alt="Card image cap">
                        {{ user.username }}
                    </div>
                    <form class="col-sm-6" action="{{ url_for('send_message') }}">
                    <button class="btn btn-outline-secondary pull-right" style="color: #646464; padding:2%" type="submit" onclick="send();">
                         Написать
                        <i class="fa fa-paper-plane" aria-hidden="true" ></i>
                    </button>
                        <input type="hidden" name="id_to" value="{{ user.id }}">
                    </form>
                </div>
            </h5>
         </div>

            {% if current_user.role == 2 %}
             <div class="card-body" style="resize: none;">
                <table id="change-user-table" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="row" style="position:static;">
                            <p style="margin-bottom:4rem;"> {{ roles[user.role] }} </p>

                        </th>
                        <th scope="row">
                        <form action=" {{ url_for('change_role') }} " name="{{ user.id }}" method="post">
                            <div class="form-group">
                                <input type="hidden" name="id" value="{{ user.id }}">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" onClick="this.form.submit()" name="bm" id="customSwitch1{{ user.id }}" {% if blocks[user.id]['bm'] %} checked {% else %} {% endif %}>
                                    <label class="custom-control-label" for="customSwitch1{{ user.id }}">
                                        <i class="fa fa-envelope{% if not blocks[user.id]['bm'] %}-o{% else %} {% endif %}" aria-hidden="true"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" onClick="this.form.submit()" name="ba" id="customSwitch2{{ user.id }}" {% if blocks[user.id]['ba'] %} checked {% else %} {% endif %}>
                                    <label class="custom-control-label" for="customSwitch2{{ user.id }}">
                                        <i class="fa fa-folder{% if not blocks[user.id]['ba'] %}-o{% else %} {% endif %}" aria-hidden="true"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" onClick="this.form.submit()" name="bf" id="customSwitch3{{ user.id }}" {% if blocks[user.id]['bf'] %} checked {% else %} {% endif %}>
                                    <label class="custom-control-label" for="customSwitch3{{ user.id }}">
                                        <i class="fa fa-file-text{% if not blocks[user.id]['bf'] %}-o{% else %} {% endif %} " aria-hidden="true"></i>
                                    </label>
                                </div>
                            </div>
                        </form>
                        </th>
                        <th scope="row">
                           <form action="" method="post">
                               {{form.hidden_tag()}}
                                <input type="hidden" name="id" value="{{ user.id }}">
                                <p>{{ form.role(class_='form-control') }}</p>
                                <a>{{ form.submit(class_='btn btn-outline-secondary pull-right', style='padding: 2%') }}</a>
                           </form>
                        </th>
                    </tr>
                </thead>
            </table>
             </div>
            {% else %}
            {% endif %}

</div>