
<style>
.scroll_post {
height: 20rem; /* высота нашего блока */
max-width: 40rem; /* ширина нашего блока */
background: none; /* цвет фона, белый */
border: none; /* размер и цвет границы блока */
overflow-y: scroll; /* прокрутка по вертикали */
}
</style>
<div class="scroll_post">
<div id="card-news" class="card-column">


        {% for new in newss %}
        <div class="card mb-3 " style="max-width: 50rem;">
            <div class="card-body">
                {% if current_user.role == 2 %}
                <div class="row">
                    <div class="card col-md-9 col-sm-2 " style="padding:10px; border:none;">
                        <h5 class="card-title">{{new.title}}</h5>
                        <p class="card-text">{{new.text}}</p>
                        <p class="card-text"><small class="text-muted">Last updated {{new.time}} mins ago</small></p>
                    </div>
                    <div class="card col-md-3 col-sm-1" style="border:none;">
                        <button type="button" class="btn btn-outline-secondary mb-1 " style=" hight: 30px;">Удалить</button>
                        <button type="button" class="btn btn-outline-secondary mb-1" style=" hight: 30px;">Изменить</button>
                    </div>
                </div>
                {% else %}
                <h5 class="card-title">{{new.title}}</h5>
                <p class="card-text">{{new.text}}</p>
                <p class="card-text"><small class="text-muted">Last updated {{new.time}} mins ago</small></p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>
</div>