
<style>
.scroll_post {
height: 20rem; /* высота нашего блока */
max-width: 40rem; /* ширина нашего блока */
background: none; /* цвет фона, белый */
border: none; /* размер и цвет границы блока */
overflow-y: scroll; /* прокрутка по вертикали */
}

#style-11::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
#style-11::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

#style-11::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

#style-11::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

#style-11::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}
</style>
<div class="scroll_post" id="style-11" style="margin: auto;">
<div id="card-news" class="card-column">


        {% for new in newss %}
        <div class="card mb-3 " style="max-width: 50rem;">
            <div class="card-body">
                {% if current_user.role == 2 %}
                <div class="row">
                    <div class="card col-md-9 col-sm-2 " style="padding:10px; border:none;">
                        <h5 class="card-title">{{new.title}}</h5>
                        <p class="card-text">{{new.text}}</p>
                        <p class="card-text"><small class="text-muted">Last updated {{new.time}} mins ago</small></p>
                    </div>
                    <div class="card col-md-3 col-sm-1" style="border:none;">
                        <form action="/delete_news" method="post">
                            <button type="button" class="btn btn-outline-secondary mb-1 " onclick="this.form.submit()" style=" hight: 30px;">Удалить</button>
                            <button hidden type="button" class="btn btn-outline-secondary mb-1" style=" hight: 30px;">Изменить</button>
                            <input type="hidden" name="id" value="{{ new.id }}">
                        </form>
                    </div>
                </div>
                {% else %}
                <h5 class="card-title">{{new.title}}</h5>
                <p class="card-text">{{new.text}}</p>
                <p class="card-text"><small class="text-muted">Last updated {{new.time}} mins ago</small></p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
</div>
</div>