<div class="card mb-3 ml-2 mr-2">
    <!--div class="card-header">
        <img src="{{ post.author.avatar(36) }}" alt="Card image cap" style="border-radius: 1rem;">
        <h6 class="card-title">От {{ post.author.username }} к {{ post.recipient.username }} написал:</h6>
    </div>
    <div class="card-body">
            <p>{{ post.body }}</p>
        <p class="card-text"><small class="text-muted">{{ post.timestamp }}</small></p>
    </div-->

    <style>
        .chat_people{ overflow:hidden; clear:both;}
        .chat_list {
          background: rgba(237, 237, 237, 0.3) none repeat scroll 0 0;
          border-bottom: 1px solid #c4c4c4;
          height: 5.5rem;
          margin: 0;
          padding: 18px 16px 10px;
        }

        #layer {
          position: relative; /* Относительное позиционирование */
          top: -3.5rem; /* Сдвигаем текст вверх */
          font-size:0;  /* Размер шрифта в пикселах */
          z-index: 1;
        }
        .er{
          width: 14rem; /* Ширина слоя */
          height: 3.5rem; /* Высота слоя */
          background: none;
        }
        .er a{
          display: block;
          height: 100%;
        }
        .chat_ib h6{ font-size:15px; color:#464646; margin:0 0 8px 0;}
        .chat_ib h6 span{ font-size:13px; float:right;}
        .chat_ib p{ font-size:14px; color:#989898; margin:auto}
        .chat_img {
          float: left;
          width: 11%;
        }
        .chat_img_answer {
          float: left;
          width: 5%;
        }
        .chat_ib {
          float: left;
          padding: 0 0 0 15px;
          width: 88%;
        }
    </style>


    <div class="chat_list">

        <div class="chat_people">
            <div class="chat_img"><img src="{{ post.recipient.avatar(36) }}" alt="Card image cap" style="border-radius: 1rem;"></div>
            <div class="chat_ib">
                <h6 class="card-title"><a href="{{ url_for('send_message') }}">{{ post.recipient.username }}</a>
                    <span class="chat_date">
                        <small class="text-muted">{{ post.timestamp }}</small>
                    </span>
                </h6>
                <div class="chat_img_answer"><img src="{{ post.author.avatar(20) }}" alt="Card image cap" style="border-radius: 1rem;"></div>
                <div class="chat_ib">
                    <p>{{ post.body }}</p>
                </div>
            </div>
        </div>
        <div id="layer" class="er">
            <a href="{{ url_for('send_message') }}">.</a>
        </div>
    </div>

</div>