{% extends "base.html" %}
{% import '/bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <div class="block col-md-8">
        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px">
				<h3 class="card-title">Добавить новость</h3>
                <button type="button" onclick="history.back();"  class="btn btn-outline-secondary mb-3" style="width: 100px; hight: 30px; padding:1%">Назад</button>

                <!-- {{ wtf.quick_form(form) }} -->
                <form action="" method="post" role="form">

                    {{form.hidden_tag()}}
                <div class="row">
                        <p class="col">{{ form.title(class_='form-control', style='outline : none; resize : none;') }}</p>
                        <p class="col">{{ form.text(class_='form-control', style='outline : none; resize : none;') }}</p>
                        <a class="col">{{ form.submit(class_='btn btn-outline-primary') }}</a>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}