{% extends "base.html" %}
{% import '/bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <div class="block col-md-8">

        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px">
                <h3 class="card-title">Все статьи</h3>

                <div class="row">
                    <div class="col-md-5 mb-3" >
                        <button type="button" onclick="history.back();"  class="btn btn-outline-secondary " style="width:100px; padding:0%">Назад</button>
                    </div>
                    <div class="nav-item dropdown col-md-5 " style="width: 6rem;">
                        <a class="nav-link dropdown-toggle btn-outline-secondary mb-3 pull-right" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Статус</a>
                        <div class="dropdown-menu" style="">
                          <a class="dropdown-item" ><img style="width:1rem;height:1rem;background-color:#c4f8ff"> На рассмотрении: </a>
                          <a class="dropdown-item" ><img style="width:1rem;height:1rem;background-color:#c3f0ad"> Принято: </a>
                          <a class="dropdown-item" ><img style="width:1rem;height:1rem;background-color:#f7a088"> Отклонено: </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" ><img style="width:1rem;height:1rem;background-color:#d5aaf0"> Всего подано: </a>
                        </div>
                    </div>
                </div>

                <div class="card bg-dark mb-4" style="hight: 1px"></div>

                <style>
                            #style-11::-webkit-scrollbar {
                            width: 10px;
                            background-color: #F5F5F5;
                            }

                            #style-11::-webkit-scrollbar-track {
                              border-radius: 10px;
                              background: rgba(0,0,0,0.1);
                              border: 1px solid #ccc;
                            }

                            #style-11::-webkit-scrollbar-thumb {
                              border-radius: 10px;
                              background: linear-gradient(left, #fff, #e4e4e4);
                              border: 1px solid #aaa;
                            }

                            #style-11::-webkit-scrollbar-thumb:hover {
                              background: #fff;
                            }

                            #style-11::-webkit-scrollbar-thumb:active {
                              background: linear-gradient(left, #22ADD4, #1E98BA);
                            }
							.scroll_post {
							height: 23rem; /* высота нашего блока */
							width: 40rem; /* ширина нашего блока */
							background: none; /* цвет фона, белый */
							border: none; /* размер и цвет границы блока */
							overflow-y: scroll; /* прокрутка по вертикали */
							}
						</style>

                <div class="scroll_post" id="style-11">
                    {% for article in articles %}
                        {% include '_article.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}