{% extends "base.html" %}
{% import '/bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <div class="block col-md-8">
        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px">
				<h3 class="card-title">Изменить пароль</h3>

                <button type="button" onclick="history.back();"  class="btn btn-outline-secondary mb-3" style="width: 100px; hight: 30px; padding:1%">Назад</button>

                <div class="card bg-dark mb-4" style="hight: 1px"></div>
                <div class="card col-md-8 mb-1" align="auto" style="margin: auto; border: none;">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                    <p>{{ form.old_password(class_='form-control',id='Email', placeholder='Старый пароль', style='outline : none; resize : none;') }}</p>
                    <p>{{ form.password(class_='form-control',  placeholder='Новый пароль', style='outline : none; resize : none;') }}</p>
                    <p>{{ form.password_2(class_='form-control', placeholder='Повторите пароль',  style='outline : none; resize : none;') }}</p>
                    <a style="margin: auto;">{{ form.submit(class_='btn btn-outline-primary') }}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}