{% extends "base.html" %}
{% import '/bootstrap/wtf.html' as wtf %}
{% block content %}
<script defer type="text/javascript" src="/Conference-Site-VSU/static/js/card-person.js"></script>
<div class="row">
    <div class="block col-md-8">
        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px">
				<h3 class="card-title">Архив работ</h3>
						<style>
                            #style-11::-webkit-scrollbar {
                            width: 10px;
                            background-color: #F5F5F5;
                            }

                            #style-11::-webkit-scrollbar-track {
                              border-radius: 10px;
                              background: rgba(0,0,0,0.1);
                              border: 1px solid #ccc;
                            }

                            #style-11::-webkit-scrollbar-thumb {
                              border-radius: 10px;
                              background: linear-gradient(left, #fff, #e4e4e4);
                              border: 1px solid #aaa;
                            }

                            #style-11::-webkit-scrollbar-thumb:hover {
                              background: #fff;
                            }

                            #style-11::-webkit-scrollbar-thumb:active {
                              background: linear-gradient(left, #22ADD4, #1E98BA);
                            }
							.scroll_post {
							height: 17rem; /* высота нашего блока */
							width: 40rem; /* ширина нашего блока */
							background: none; /* цвет фона, белый */
							border: none; /* размер и цвет границы блока */
							overflow-y: scroll; /* прокрутка по вертикали */
							}
						</style>
				{% if current_user.role == 2 %}
					<!--<div id="back_search_add_btn" class="row mb-3 mt-3">
						<div class="card col-md-4 col-sm-8 bg-secondary "
							 style=" border: none; margin-top:10px; ">
							<form action="/search/" target="_blank" class="form-search" style="border-bottom: 1px solid; display: inline-block;">
							  <input type="hidden"  style="all: unset;" name="searchid">
							  <input type="search" style="all: unset;" name="text" required placeholder="Поиск архивов">

							  <input type="image" style="width:16px; hight:16px;" src="../static/images/magnifying-glass.png" alt="Submit feedback">
							</form>
						</div>

						 <div class="card col-md-4 col-sm-4" style="border:none; ">
							<button type="button" class="btn btn-primary" onclick="window.location.href=''" style=" margin:left">Добавить</button>
						</div>

					</div>
					-->
					<button type="button" class="btn btn-primary mb-3" onclick="window.location.href='{{ url_for('add_compilation') }}'" style=" margin:left">Добавить сборник</button>

					<div class="card bg-dark mb-4" style="hight: 1px"></div>

					<div class="scroll_post" id="style-11" style="margin: auto">
						<div id="card-downloads" class="row mb-3 mr-1 ml-1" >

								{% for new in compitarions %}
								<div class="card col-md-4 col-sm-8 mb-1"  >
									<div class="card-body" style="display: block; margin: center; padding:10px;">
										<img class="card-img-top img-fluid rounded mb-2" style="width: 10rem;" src="{{ url_for('static', filename='images/volume/' + files[new].drive_file_id + '.jpg') }}" alt="Card image cap">
										<h5 class="card-title">{{new.name}}</h5>
										<!--<p class="card-text">{{new.text}}</p>-->
										<a href="{{ url_for('download_file', file_id=files[new].drive_file_id) }}" class="btn btn-primary">Скачать</a>
									</div>
								</div>
								{% endfor %}
						</div>
					</div>
				{% else %}
					<div class="scroll_post">
						<div id="card-curators" class="row mb-3 mr-1 ml-1" >

							{% for new in compitarions %}
							<div class="card col-md-4 col-sm-8 mb-1"  >
								<div class="card-body" style="display: block; margin: center; padding:10px;">
									<img class="card-img-top img-fluid rounded mb-2" style="width: 10rem;" src="{{ url_for('static', filename='images/volume/' + files[new].drive_file_id + '.jpg') }}" alt="Card image cap">
									<h5 class="card-title">{{new.name}}</h5>
									<!--<p class="card-text">{{new.text}}</p>-->
									<a href="{{ url_for('download_file', file_id=files[new].drive_file_id) }}" class="btn btn-primary">Скачать</a>
								</div>
							</div>
							{% endfor %}




					</div>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
</div>
{% endblock %}