{% extends "base.html" %}
{% import '/bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <div class="block col-md-8">
        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px">
				<h3 class="card-title">Изменить профиль</h3>

                <button type="button" onclick="history.back();"  class="btn btn-outline-secondary mb-3" style="width: 100px; hight: 30px; padding:1%">Назад</button>

                <div class="card bg-dark mb-4" style="hight: 1px"></div>
                <div class="card col-md-8 mb-1" align="auto" style="margin: auto; border: none;">

                    <p>Email:{{ form.email(class_='form-control', placeholder='Email', id='exampleInputEmail1', style='outline : none; resize : none;') }}</p>
                    <p>Имя:{{ form.first_name(class_='form-control', placeholder='Имя', style='outline : none; resize : none;') }}</p>
                    <p>Фамилия:{{ form.second_name(class_='form-control', placeholder='Фамилия', style='outline : none; resize : none;') }}</p>
                    <p>{{ form.about_me(class_='form-control', placeholder='О вас', style='outline : none; resize : none;') }}</p>
                    <div class="row">
                        <a class="col" style="margin: auto;">{{ form.submit(class_='btn btn-outline-primary') }}</a>
                        <a class="col"  href="{{ url_for('change_password') }}" style="margin: auto;">Изменить пароль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}