{% extends "base.html" %}
{% import '/bootstrap/wtf.html' as wtf %}
{% block content %}

<div class="row">
    <div class="block col-md-8">

        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px">
                <h3 class="card-title">Добро пожаловать</h3>
                <h6 class="card-title"> на наш сайт!</h6>

                  {% if current_user.is_anonymous %}
                    <p class="card-text text-uppercase font-weight-bold">Прием статей закрыт.</p>

               <p> Согласно решению ученого совета факультета компьютерных наук:<br>
                        Как правило, к опубликованию принимаются работы студентов, которые выступали на студенческой научной сессии и имеющие научные исследования, полученные в процессе обучения на факультете компьютерных наук <br>
                        Научный руководитель отвечает за качество публикуемого материала и направляет статью <br>
                        Прием статей осуществляется с 17 апреля по 17 мая
                    </p>
                {% else %}
                    <p class="card-text text-uppercase font-weight-bold">Прием статей.</p>
                    <p> Описание статей</p>
                {% endif %}
            </div>
        </div>

        <table id="calendar-table" class="table table-hover block mb-5">
         <tbody>
            <tr class="table-active">
                <th scope="row"></th>
                <th scope="row"><a style="margin-left:10%">Расписание ближайших событий</a>
                    <div class="btn-group" role="group" style = "margin-right:5%">
                        <a class="btn btn-primary disabled" style="color: white; margin-left:45%">Календарь<span class="sr-only">(current)</span></a>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" style="border:none; background:none">
                              <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FMoscow&amp;src=ZWF1MTIwNjc2QGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZGVmMjU4cjc0YWtsbmRrNjE0NWw2cXZwNmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=cnUucnVzc2lhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23336699&amp;color=%23329262&amp;color=%2330487E&amp;color=%231F753C&amp;showTitle=1&amp;showNav=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0&amp;showTz=1&amp;mode=MONTH&amp;title=%D0%A0%D0%B0%D1%81%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%BA%D0%BE%D0%BD%D1%84%D0%B5%D1%80%D0%B5%D0%BD%D1%86%D0%B8%D0%B9"
                                    width="400" height="600" frameborder="0" style="position:absolute; right:40px; top: 0">
                              </iframe>
                        </div>
                    </div>
                </th>
            </tr>
            <div class="btn-group" role="group" style = "margin-left:%">

                {% for new in news %}
                <tr>
                    <th scope="row" style="text-align:center">{{new.data}}</th>
                    <th scope="row" style="text-align:center">
                        <h6>{{new.title}}</h6>
                        <p>{{new.text}}</p>
                    </th>
                </tr>
                {% endfor %}

            </div>
         </tbody>
        </table>

    </div>
</div>

{% endblock %}