{% extends "base.html" %}
{% import '/bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="block col-md-8">

        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px">
                <h3>Войти</h3>
                <div class="card bg-dark mb-4" style="hight: 1px"></div>
                    <div class="card" align="auto" style="margin: auto; border: none;">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--<p>{{ form.username(class_='form-control', placeholder='Логин', style='outline : none; resize : none;') }}</p>
                         <p>{{ form.password(class_='form-control',  placeholder='Пароль', style='outline : none; resize : none;') }}</p>
                         <p>{{ form.remember_me() }}</p>
                         <a style="margin: auto;">{{ form.submit(class_='btn btn-outline-primary') }}</a>
                         -->