{% extends "base.html" %}

{% block content %}
<script defer type="text/javascript" src="/Conference-Site-VSU/static/js/card-person.js"></script>
<div class="row">
	<div class="block col-md-8">

		<div id="adm_information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
			<div class="card-header bg-dark"></div>
			<div class="card-body" style="margin-left:70px; margin-right: 70px">
            {% if current_user.role == 2 %}
				<h3 class="card-title"></h3>

					<div id="back_search_add_btn" class="row mb-3 mt-3" style="max-width: 1024px; max-hight: 30px;">
						<div class="card col-md-4 col-sm-6" style="border: none;">
							<button type="button" class="btn btn-outline-secondary" style="width: 100px; hight: 30px;">Назад</button>
						</div>

						<div class="card col-md-4 col-sm-8 bg-secondary "
							 style=" border: none; margin-top:10px; ">
							<form action="/search/" target="_blank" class="form-search" style="border-bottom: 1px solid; display: inline-block;">
							  <input type="hidden"  style="all: unset;" name="searchid">
							  <input type="search" style="all: unset;" name="text" required placeholder="Поиск по сайту">

							  <input type="image" style="width:16px; hight:16px;" src="../static/images/magnifying-glass.png" alt="Submit feedback">
							</form>
						</div>

						 <div class="card col-md-4 col-sm-4" style="border:none; ">
							<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('add_news') }}'" style=" margin:left">Добавить новость</button>
						</div>

					</div>

					<!--<div id="filters" class="row mb-5 " style="margin-left:1px; margin-right:1px;">

						<div class="card col-md-6 col-sm-8" style="border:inline">
							<h4 style="margin-top:auto;">Фильтры</h4>
						</div>
						<div class="card col-md-3 col-sm-4" style="border:none">
							<button type="button" class="btn btn-primary" style=" margin:auto">Название</button>
						</div>
						<div class="card col-md-3 col-sm-4" style="border:none">
							<button type="button" class="btn btn-primary" style=" margin:auto">Дата</button>
						</div>

					</div>-->
<!--
					<div id="add_btn" class="row mb-3 " style="margin-left:1px; margin-right:1px;">
						<div class="card col-md-9 col-sm-8" style="border: none">
						</div>

                        <div class="card col-md-3 col-sm-6" style="border: none">
							<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('add_news') }}'" style=" margin:left">Добавить новость</button>
						</div>

					</div>-->

					<div class="card bg-dark mb-4" style="hight: 1px"></div>

					{% include '_news_block.html' %}

				{% else %}
				<h3 class="card-title">Новости</h3>
					{% include '_news_block.html' %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}