{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="block col-md-8">

        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px;">
				<h3 class="card-title">Работа с авторами</h3>
				<p>Передача готовых файлов осуществляется через электронную почту кураторам по кафедре:</p>

				<div id="card-curators" class="row mb-3 mr-1 ml-1" >
						 <!--в словарь должны попадать только ближайшие конференции. стоит оговорить диапазон-->

					{% set news = [
						{'course':'Кафедра информационных систем', 'teacher': 'асс. Черницын Д.В', 'email': 'cdv.cs@ya.ru'},
						{'course':'Кафедра программирования и информационных технологий', 'teacher': 'асс. Нужных А.В.', 'email': 'nuzhnykh.avpp@gmail.com'},
						{'course':'Кафедра цифровых технологий', 'teacher': 'асс. Попова А.В.', 'email': 'alexandrapopova7891@gmail.com'},
						{'course':'Кафедра технологий обработки и защиты информации', 'teacher': 'инж. Савченко С.В.', 'email': 'savchenko_s@cs.vsu.ru'},
						{'course':'Кафедра информационных технологий управления', 'teacher': 'доц. Копытин А.В.', 'email': 'alexkopytin@gmail.com'}] %}
					{% for new in news %}
						<div class="card col-md-6 col-sm-3 mb-1" style="background-color: #f2f2f2;">
							<div class="card-body">
								<h5 class="card-title">{{ new.course }}</h5>
								<p class="card-text">{{ new.teacher }}</p>
								<p>{{ new.email }}</p>
							</div>
						</div>
					{% endfor %}

				</div>

				<p>
					Каждая статья проходит этапы рецензирования и редактирования, после которых может возникнуть необходимость доработки статьи<br>

					Авторы должны устранить замечания (куратора) редактора в течении 5 дней со дня получения замечаний<br>

					Редактор оставляет за собой право на корректуру статей авторов, не меняя основную смысловую нагрузку присланного материала<br>
				</p>
			</div>
		</div>

		<div id="requirements" class="card flex-column mb-3 " style="background-color: #f2f2f2;">
			<div class="dropdown">
				<h2 class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">Требования к оформлению</h2>
				<div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
					<ul>
					<p>Рекомендуемый объем статьи в студенческий сборник – 5 страниц.<br></p>
					<p>При необходимости объем статьи можно увеличить (по согласованию с редактором, но не более 8 страниц).<br></p>
					<p>Формат листа А5. Статья подготавливается в программе Microsoft Word  2003-2019. <br></p>
					<p>Для оформления статей необходимо использовать файл-шаблон (Template.doc)<br></p>
					<p>При оформлении статьи обязательны к применению стили форматирования Word, которые содержатся в файле Template.doc или в файлах примеров.<br></p>
					<p>Текст статьи должен содержать оригинальные исследования с практической частью и быть структурирован: <br> </p>
					<ul>
							<li>введение (постановка проблемы в общем виде и ее связь с  практическими задачами;
								конкретизация части решаемой проблемы, которой  посвящена статья; не нумеруется);</li>
							<li>основная часть (постановка задачи; изложение основного  материала исследования с обоснованием полученных результатов).
								Может  состоять из нескольких частей, желательна нумерация разделов основной  части (см. Пример.doc);    </li>
							<li>заключение (выводы на основании проведенного исследования); </li>
							<li>библиографический список (литературные ссылки следует  нумеровать в прямых скобках, нумерация сквозная). Библиографическое  описание составляется по ГОСТ 7.1-2003 «Библиографическая запись.  Библиографическое описание.
								Общие требования и правила составления» и  ГОСТ 7.82-2001 «Библиографическая запись. Библиографическое описание  электронных ресурсов»</li>
					</ul>

				</ul>
				  <div class="dropdown-divider"></div>
				  <ul>
					<p>Более подробно правила оформления описаны в файле Шаблон (Template.doc).</p>
				  </ul>
				</div>
			</div>
		</div>

		<div id="patterns" class="card-deck">

			{% set news = [
			{'image':'../static/images/document.png', 'href':'../static/files/Template.doc', 'title': 'Шаблон', 'text': 'Шаблон для оформления статей в студенческий сборник научных работ факультета компьютерных наук'},
			{'image':'../static/images/document.png', 'href':'../static/files/Example.doc', 'title': 'Пример', 'text': 'Пример оформления статей в студенческий сборник научных работ факультета компьютерных наук'},
			{'image':'../static/images/rar.png', 'href':'../static/files/Examples.rar', 'title': 'Архив примеров', 'text': 'Архив примеров оформления статей в студенческий сборник научных работ факультета компьютерных наук'}
						] %}
					{% for new in news %}
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-md-4">
								<img src="{{new.image}}" class="card-img img-fluid" alt="...">
								</div>
								<div class="card-body">
									<h5 class="card-title">{{new.title}}</h5>
									<p class="card-text">{{new.text}}</p>
									<a href="{{new.href}}" class="card-link">Скачать</a>
								</div>
							</div>
						</div>
					{% endfor %}

			</div>

	</div>
</div>

{% endblock %}