{% extends "base.html" %}
{% import '/bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="block col-md-8">

        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px">
                <h3>Регистрация</h3>
                <div class="card bg-dark mb-4" style="hight: 1px"></div>
                <div class="card" align="auto" style="margin: auto; border: none;">
                    <div class="row" align="auto" style="border: none;">
                    <form action="" method="get">
                         <div class="row" align="auto" style="border: none;">
                            <div class="col">
                                <div class="card" align="auto" style=" border: none;">
                                    {{ form.hidden_tag() }}
                                    <p>{{ form.username(class_='form-control', placeholder='Логин', style='outline : none; resize : none;') }}</p>
                                    <p>{{ form.first_name(class_='form-control', placeholder='Имя', style='outline : none; resize : none;') }}</p>
                                    <p>{{ form.second_name(class_='form-control', placeholder='Фамилия', style='outline : none; resize : none;') }}</p>
                                </div>
                            </div>
                            <div class="col">
                                 <div class="card" align="auto" style=" border: none;">
                                      {{ form.hidden_tag() }}
                                    <p>{{ form.email(class_='form-control', placeholder='Email', id='exampleInputEmail1', style='outline : none; resize : none;')}}</p>
                                    <p>{{ form.password(class_='form-control',  placeholder='Пароль', style='outline : none; resize : none;') }}</p>
                                    <p>{{ form.password_2(class_='form-control', placeholder='Повторите пароль',  style='outline : none; resize : none;') }}</p>
                                 </div>
                            </div>
                         </div>
                        <p>Нажимая кнопку Регистрация, вы соглашаетесь с условиями <a href="https://www.student-conference.site/terms_of_use" target="_blank">пользовательского соглашения</a></p>
                         <a style="margin: auto;">{{ form.submit(class_='btn btn-outline-primary') }}</a>
                     </form>
                      <!--  {{ wtf.quick_form(form) }}-->
                    </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}