{% extends "base.html" %}
{% import '/bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="block col-md-8">

        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px">
                <h3>Регистрация</h3>
                <div class="col-md-6 col-sm-3 mb-1">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}