{% extends "base.html" %}
{% import '/bootstrap/wtf.html' as wtf %}


{% block content %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;

        $(document).ready(function(){
            socket = io.connect('http://' + document.domain + ':' + location.port + '/send_message');
            socket.on('connect', function() {
                socket.emit('joined', {});
            });
            socket.on('status', function(data) {
                $('#chat')[0].innerHTML += '<p>' + data.msg + '</p>';
                // $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                //$('#chat')[0].scrollTop($('#chat')[0].scrollHeight);
                $('#chat')[0].scrollTop = $('#chat')[0].scrollHeight;
            });
            socket.on('message', function(data) {
                if (  {{ current_user.id }} != Number.parseInt(data.recipient_id))
                {
                   $('#chat')[0].innerHTML += ' <div class="incoming_msg">  <div class="img"> <img src=" {{ received.avatar(128) }}" alt="sunil" style="border-radius: 2rem; width: 3rem"> </div> <div class="received_msg">  <div class="received_withd_msg">  <p> ' + data.msg + ' </p>  <span class="time_date"> ' + data.timestamp + ' </span></div> </div> </div>';
                } else
                {
                    $('#chat')[0].innerHTML += '<div class="outgoing_msg">      <div class="sent_msg">       <p>' + data.msg + '</p>      <span class="time_date"> ' + data.timestamp  + '  </span></div>   </div>'
                }
                $('#chat')[0].scrollTop = $('#chat')[0].scrollHeight;
                //$('#chat')[0].scrollTop($('#chat')[0].scrollHeight);
            });
            $('#text').keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text')[0].val();
                    $('#text')[0].val('');
                    socket.emit('text', {msg: text, id_from: {{ current_user.id }}, id_to: {{ id_to }} });
                }
            });
        });
        function send(e) {
            text = $('#text').val();
            $('#text').val('');
            socket.emit('text', {msg: text, id_from: {{ current_user.id }}, id_to: {{ id_to }} });
        }
        window.onbeforeunload = function() {
            socket.emit('left', {}, function() {
                socket.disconnect();
            });
        }
    </script>
<script defer type="text/javascript" src="/Conference-Site-VSU/static/js/card-person.js"></script>
<div class="row">
    <div class="block col-md-8">

        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:2rem; margin-right: 2rem">
                <h3>Диалоги</h3>



                <div class="row mb-3 mr-1 ml-1" style="min-width: 20rem;">

                    <div class="card col-md-6 col-sm-2" style="padding:0; background-color: rgba(236, 231, 231, 0.3); border-radius: 1rem;">
                        <div class="card-body" style="padding:1rem;">

                                <button type="button" onclick="history.back();"  class="btn btn-outline-secondary ml-2 mb-3" style="width: 100px; hight: 30px; padding: 1px;">Назад</button>

                        <style>
                            .scroll_post {
                            height: 25rem; /* высота нашего блока */
                            width: 20rem; /* ширина нашего блока */
                            background: none; /* цвет фона, белый */
                            border: none;/*1px solid #c4c4c4;  размер и цвет границы блока */
                            overflow-y: scroll; /* прокрутка по вертикали */
                            }
                            #style-11::-webkit-scrollbar {
                                width: 10px;
                                background-color: #F5F5F5;
                            }
                            #style-11::-webkit-scrollbar-track {
                              border-radius: 10px;
                              background: rgba(0,0,0,0.1);
                              border: 1px solid #ccc;
                            }

                            #style-11::-webkit-scrollbar-thumb {
                              border-radius: 10px;
                              background: linear-gradient(left, #fff, #e4e4e4);
                              border: 1px solid #aaa;
                            }

                            #style-11::-webkit-scrollbar-thumb:hover {
                              background: #fff;
                            }

                            #style-11::-webkit-scrollbar-thumb:active {
                              background: linear-gradient(left, #22ADD4, #1E98BA);
                            }
                        </style>

                        <div class="scroll_post" id="style-11">
                            {% for post in posts %}
                                {% include '_post.html' %}
                            {% endfor %}
                        </div>
                        </div>
                    </div>

                        <style>
                                #chat::-webkit-scrollbar {
                                    width: 10px;
                                    background-color: #F5F5F5;
                                }
                                #chat::-webkit-scrollbar-track {
                                  border-radius: 10px;
                                  background: rgba(0,0,0,0.1);
                                  border: 1px solid #ccc;
                                }

                                #chat::-webkit-scrollbar-thumb {
                                  border-radius: 10px;
                                  background: linear-gradient(left, #fff, #e4e4e4);
                                  border: 1px solid #aaa;
                                }

                                #chat::-webkit-scrollbar-thumb:hover {
                                  background: #fff;
                                }

                                #chat::-webkit-scrollbar-thumb:active {
                                  background: linear-gradient(left, #22ADD4, #1E98BA);
                                }
                                .mesgs {
                                  float: left;
                                  padding: 30px 15px 0 25px;
                                  width: 60%;
                                }
                                .msg_history {
                                  height: 516px;
                                  overflow-y: auto;
                                }
                                .outgoing_msg{ overflow:hidden; }
                                .incoming_msg_img {
                                  float: left;
                                  width: 11%;
                                }
                                .received_msg {
                                  display: inline-block;
                                  padding: 5px 0 0 10px;
                                  vertical-align: top;
                                  width: 92%;
                                 }
                                 .received_withd_msg p {
                                  background: #ebebeb none repeat scroll 0 0;
                                  border-radius: 3px;
                                  color: #646464;
                                  font-size: 14px;
                                  margin: 0;
                                  padding: 5px 10px 5px 12px;
                                  width: 100%;
                                }
                                .outgoing_msg{ overflow:hidden; margin:26px 0 15px;}
                                .sent_msg {
                                  float: right;
                                  width: 60%;
                                }
                                .time_date {
                                  color: #747474;
                                  display: block;
                                  font-size: 12px;
                                  margin: 5px 0 0;
                                }
                                .type_msg {
                                  border-top: 1px solid #ebebeb;
                                  position: absolute;
                                  bottom: 6%;
                                }
                                .input_msg_write textarea {
                                  background: #ffff none repeat scroll 0 0;
                                  border: medium none #ebebeb;
                                  color: #646464;
                                  resize : none;
                                  outline : none;
                                  width: 15rem;
                                  overflow:hidden;
                                  font-size: 1rem;
                                  min-height: 1rem;

                                }
                                .msg_send_btn {
                                  background: #ebebeb none repeat scroll 0 0;
                                  border: medium none #ebebeb;
                                  border-radius: 50%;
                                  color: #747474;
                                  outline : none;
                                  cursor: pointer;
                                  font-size: 17px;
                                  height: 33px;
                                  position: -webkit-sticky;
                                  position: sticky;
                                  right: 1%;
                                  top: 20px;
                                  width: 33px;
                                }
                                button:active, button:focus {
                                  outline: none;
                                }
                                button::-moz-focus-inner {
                                  border: 0;
                                }
                            </style>

                    <div class="card col-md-6 col-sm-2" style="border-radius: 1rem;" >
                        <div class="card-body">
                            <div class="scroll_post" id="chat" style="margin-bottom: 4.5rem;">
                                        {% for msg in msgs %}
                                            {% include '_msg.html' %}
                                        {% endfor %}
                            </div>
                            <div class="type_msg mt-3">
                                <!-- <form action="/send/" target="_blank" class="input_msg_write form-search">
                                    <textarea id="text" type="text" name="message" required placeholder="Type a message"></textarea>
                                  <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                </form> -->
                                <div class="input_msg_write">
                                    <div class="row mb-2 mr-1 ml-1 mt-1">
                                        <textarea id="text" type="text" name="message" required placeholder="Type a message" ></textarea>
                                        <button class="msg_send_btn ml-1 mt-2" type="button" onclick="send();"><i class="fa fa-paper-plane" aria-hidden="true" ></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}