{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="block col-md-8">

        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:2rem; margin-right: 2rem">
                <h3>Профиль</h3>
                <div id="card-curators" class="row mb-3 mr-1 ml-1" style="min-width: 220px;" >

                    <div class="card col-md-6 col-sm-2" style="padding:0; background-color: rgba(236, 231, 231, 0.3); border-radius: 1rem;">
                        <div class="card-body" style="padding:1rem;">
                            <style>
                            .scroll_post {
                            height: 25rem; /* высота нашего блока */
                            width: 20rem; /* ширина нашего блока */
                            background: none; /* цвет фона, белый */
                            border: none; /* размер и цвет границы блока */
                            overflow-y: scroll; /* прокрутка по вертикали */
                            }

                            #style-11::-webkit-scrollbar {
                                width: 10px;
                                background-color: #F5F5F5;
                            }
                            #style-11::-webkit-scrollbar-track {
                              border-radius: 10px;
                              background: rgba(0,0,0,0.1);
                              border: 1px solid #ccc;
                            }

                            #style-11::-webkit-scrollbar-thumb {
                              border-radius: 10px;
                              background: linear-gradient(left, #fff, #e4e4e4);
                              border: 1px solid #aaa;
                            }

                            #style-11::-webkit-scrollbar-thumb:hover {
                              background: #fff;
                            }

                            #style-11::-webkit-scrollbar-thumb:active {
                              background: linear-gradient(left, #22ADD4, #1E98BA);
                            }

                            </style>
                            <div class="scroll_post" id="style-11">
                                {% for post in posts %}
                                    {% include '_post.html' %}
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>

                    <div class="card col-md-5 col-sm-3" style="margin-left: 3rem; border-radius: 1rem; ">
                        <div class="card-body">
                            <p style="text-align:center;"><img src="{{ user.avatar(128) }}" style="border-radius: 1rem;"></p>
                            <p><h3 style="text-align:center;">User: {{ user.username }}</h3></p>

                            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                            {% if user.last_seen %}<p>Последний раз был в сети: {{ user.last_seen.strftime("%d.%m.%Y %H:%M:%S") }}</p>{% endif %}
                            <hr>
                            {% if user == current_user %}
                                <p><a href="{{ url_for('edit_profile') }}">Изменить ваш профиль</a></p>
                                <p><a href="{{ url_for('send_message') }}">Отправить сообщение</a></p>
                                <p><a href="{{ url_for('article') }}">Ваши статьи</a></p>
                                {% if current_user.role == 2 %}
                                <p><a href="{{ url_for('change_role') }}">Изменить роли пользователей</a></p>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}