{% extends "base.html" %}
{% block content %}
<div style="margin-left: 100px; padding: 40px">
				<div class="row">
					<div class="col-md-6">

						<h1>Контакты</h1>
						<p>
								Редактор сборника заместитель декана по научной работе доц. Борисов Дмитрий Николаевич. <br>
						</p>

							<h2>Кураторы по кафедрам:<br></h2>
							<dl class="row">
								<dt class="col-sm-5">Кафедра информационных систем</dt>
								<dd class="col-sm-5">асс. Черницын Дмитрий Вячеславович, e-mail: cdv.cs@ya.ru</dd>

								<dt class="col-sm-5">Кафедра программирования и информационных технологий</dt>
								<dd class="col-sm-5">асс. Нужных Алексей Васильевич, e-mail: nuzhnykh.avpp@gmail.com</dd>

								<dt class="col-sm-5">Кафедра цифровых технологий</dt>
								<dd class="col-sm-5">асс. Попова Александра Евгеньевна, e-mail: alexandrapopova7891@gmail.com</dd>

								<dt class="col-sm-5">Кафедра технологий обработки и защиты информации</dt>
								<dd class="col-sm-5">инж. Савченко Светлана Владимировна, e-mail: savchenko_s@cs.vsu.ru</dd>

								<dt class="col-sm-5">Кафедра информационных технологий управления</dt>
								<dd class="col-sm-5">доц. Копытин Алексей Вячеславович, e-mail: alexkopytin@gmail.com</dd>
							</dl>
							<p>
								По всем вопросам обращайтесь по адресу:<br>
								stwork@sc.vsu.ru
						</p>
					</div>
					<div class="col-md-6">
						<div class="map-responsive">
							<iframe id="imObjectMap_pluginAppObj_5_04_frame" style="overflow: hidden; border: none;" src="//maps.google.ru/maps?hl=ru&amp;f=q&amp;source=s_q&amp;geocode=&amp;q=Воронеж,+Университетская+площадь,+1&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Воронеж,+Университетская+площадь,+1&amp;z=16&amp;output=embed"></iframe>
						</div>
					</div>
				</div>
			</div>
{% endblock %}