{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="block col-md-8">

		<div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
			<div class="card-header bg-dark"></div>
				<div class="card-body" style="margin-left:70px; margin-right: 70px">
					<h3 class="card-title">Контакты</h3>
					<h6 class="card-title">
						Редактор сборника заместитель декана по научной работе доц. Борисов Дмитрий Николаевич.
					</h6>

					<div id="card-curators" class="row mb-3 mr-1 ml-1" >
						 <!--в словарь должны попадать только ближайшие конференции. стоит оговорить диапазон-->

					{% set news = [
						{'course':'Кафедра информационных систем', 'teacher': 'асс. Черницын Д.В', 'email': 'cdv.cs@ya.ru'},
						{'course':'Кафедра программирования и информационных технологий', 'teacher': 'асс. Нужных А.В.', 'email': 'nuzhnykh.avpp@gmail.com'},
						{'course':'Кафедра цифровых технологий', 'teacher': 'асс. Попова А.В.', 'email': 'alexandrapopova7891@gmail.com'},
						{'course':'Кафедра технологий обработки и защиты информации', 'teacher': 'инж. Савченко С.В.', 'email': 'savchenko_s@cs.vsu.ru'},
						{'course':'Кафедра информационных технологий управления', 'teacher': 'доц. Копытин А.В.', 'email': 'alexkopytin@gmail.com'}] %}
					{% for new in news %}
						<div class="card col-md-6 col-sm-3 mb-1" style="background-color: #f2f2f2;">
							<div class="card-body">
								<h5 class="card-title">{{ new.course }}</h5>
								<p class="card-text">{{ new.teacher }}</p>
								<p>{{ new.email }}</p>
							</div>
						</div>
					{% endfor %}

				</div>

				</div>
		</div>

		<div id="inf_and_map" class="row mb-3" style="margin-left:0.15%; margin-right: 0.15%;">
			<div class="card col-md-6 col-sm-3 mb-1" style="background-color: #f2f2f2; border:none; padding:5%;">
				<h6>
					Улица №: Университетская пл., 1 <br>
					Город: Воронеж <br>
					Область:  Воронежская обл. <br>
					Страна: Россия <br>
					Индекс: 394045 <br>
				</h6>
				<br>
				<p>
					По всем вопросам обращайтесь по адресу:<br>
					stwork@sc.vsu.ru
				</p>
			</div>
			<div id="map" class="card col-md-6 col-sm-3 mb-1" style="background-color: #f2f2f2; border:none;padding:5%;">
				<div class="border map-responsive" style="display: block; margin: auto;">
					<iframe id="imObjectMap_pluginAppObj_5_04_frame" style="overflow: hidden;  border: 3px solid #C4C4C4;" src="//maps.google.ru/maps?hl=ru&amp;f=q&amp;source=s_q&amp;geocode=&amp;q=Воронеж,+Университетская+площадь,+1&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Воронеж,+Университетская+площадь,+1&amp;z=16&amp;output=embed"></iframe>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}