{% extends "base.html" %}
{% block content %}
<div style="margin-left: 100px; padding: 40px">
				<div class="row">
						<div class="card-deck">
							<div class="card" style="width: 18rem;">
								<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_13_1.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Работы студентов бакалавриата</h5>
									<p class="card-text">Выпуск 13 часть 1 (2019)</p>
									<a href="https://drive.google.com/open?id=1LO6jQ-bi4C3U3qNQbBVN30zCOqwtw9Az" class="btn btn-primary">Скачать</a>
								</div>
							</div>

							<div class="card" style="width: 18rem;">
								<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_13_2.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Работы студентов</h5>
									<p class="card-text">Выпуск 12 (2018)</p>
									<a href="https://drive.google.com/open?id=1XF1MwZt0dsT-x5i5Ir0XEYScToucTR91" class="btn btn-primary">Скачать</a>
								</div>
							</div>

							<div class="card" style="width: 18rem;">
								<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_12.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Работы студентов</h5>
									<p class="card-text">Выпуск 11 (2017)</p>
									<a href="https://drive.google.com/open?id=12tYw_2HrdWXO9Ncpbdke5cCv7sEuB3bO" class="btn btn-primary">Скачать</a>
								</div>
							</div>

							<div class="card" style="width: 18rem;">
									<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_11.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Работы студентов</h5>
										<p class="card-text">Выпуск 10 (2016)</p>
										<a href="https://drive.google.com/open?id=1F7ELS2NhtiQamfmRCyjojIXL-cyA4hVH" class="btn btn-primary">Скачать</a>
									</div>
								</div>
						</div>
						<div class="card-deck">
								<div class="card" style="width: 18rem;">
									<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_10.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Работы студентов</h5>
										<p class="card-text">Выпуск 9 (2015)</p>
										<a href="https://drive.google.com/open?id=1cpV9BEtEVgpwfTh-FR8N6ZjBTh8VPZYS" class="btn btn-primary">Скачать</a>
									</div>
								</div>

								<div class="card" style="width: 18rem;">
									<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_9.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Работы студентов</h5>
										<p class="card-text">Выпуск 8 (2014)</p>
										<a href="https://drive.google.com/open?id=1xDPDBz-l3oINRUKCOMfodkJO_7yqGNqk" class="btn btn-primary">Скачать</a>
									</div>
								</div>

								<div class="card" style="width: 18rem;">
									<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_8.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Работы студентов</h5>
										<p class="card-text">Выпуск 7 (2013)</p>
										<a href="https://drive.google.com/open?id=11VowfHtT1DIBcf2uHHAtmqsyMTFelMA6" class="btn btn-primary">Скачать</a>
									</div>
								</div>

								<div class="card" style="width: 18rem;">
									<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_7.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Работы студентов</h5>
										<p class="card-text">Выпуск 6</p>
										<a href="https://drive.google.com/open?id=1tzwworQ9rkUgOWkE570W7piIuuXuKzmq" class="btn btn-primary">Скачать</a>
									</div>
								</div>
						</div>
						<div class="card-deck">
								<div class="card" style="width: 18rem;">
									<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_6.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Работы студентов</h5>
										<p class="card-text">Выпуск 5</p>
									</div>
								</div>

								<div class="card" style="width: 18rem;">
									<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_5.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Работы студентов</h5>
										<p class="card-text">Выпуск 4</p>
									</div>
								</div>

								<div class="card" style="width: 18rem;">
									<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_4.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Работы студентов</h5>
										<p class="card-text">Выпуск 3</p>
									</div>
								</div>

								<div class="card" style="width: 18rem;">
									<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_3.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Работы студентов</h5>
										<p class="card-text">Выпуск 2</p>
									</div>
								</div>
						</div>
						<div class="card-deck">
								<div class="card" style="width: 18rem;">
									<img class="card-img-top img-fluid rounded" src="../static/images/volume/Cover_2.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Работы студентов</h5>
										<p class="card-text">Выпуск 1</p>
									</div>
								</div>

						</div>
				</div>
			</div>
{% endblock %}