{% extends "base.html" %}
{% block content %}
<div style="margin-left: 100px; padding: 40px">
				<div class="row">
					<h1> Новости </h1>
					<div class="card-column">
						<div class="card mb-3">
							<div class="card-body">
								<h5 class="card-title">Название карточки</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						</div>

						<div class="card mb-3">
							<div class="card-body">
								<h5 class="card-title">Название карточки</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						</div>
					</div>
				</div>
		</div>
{% endblock %}