{% extends "base.html" %}
{% block content %}
<script defer type="text/javascript" src="/static/js/card-person.js"></script>
<div class="row">
    <div class="block col-md-8">
        <div id="information" class="card bg-secondary mb-3 " style="margin-top: 25px;">
            <div class="card-header bg-dark"></div>
            <div class="card-body" style="margin-left:70px; margin-right: 70px">
				 <h3 class="card-title">Новости</h3>
					<div id="card-news" class="card-column">

					{% set news = [
						{'time':'3', 'title': 'Новость 1;', 'text': 'какой-то текст с информацией о ней'},
						{'time':'4', 'title': 'Новость 2', 'text': 'какой-то текст с информацией о ней'},
						{'time':'12', 'title': 'Новость 3', 'text': 'какой-то текст с информацией о ней'}] %}
						{% for new in news %}
						<div class="card mb-3 " style="max-width: 660px;">
							<div class="card-body">
								<h5 class="card-title">{{new.title}}</h5>
								<p class="card-text">{{new.text}}</p>
								<p class="card-text"><small class="text-muted">Last updated {{new.time}} mins ago</small></p>
							</div>
						</div>
					{% endfor %}

					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}