{% extends "base.html" %}
{% block content %}

			<div style="margin-left: 100px; padding: 40px">
				<h1>Работа с авторами</h1>
				<p>Передача готовых файлов осуществляется через электронную почту кураторам по кафедре:</p>
				<dl class="row">
						<dt class="col-sm-3">Кафедра информационных систем – асс. Черницын Д.В</dt>
						<dd class="col-sm-9">cdv.cs@ya.ru</dd>

						<dt class="col-sm-3">Кафедра программирования и информационных технологий – асс. Нужных А.В.</dt>
						<dd class="col-sm-9">nuzhnykh.avpp@gmail.com</dd>

						<dt class="col-sm-3">Кафедра цифровых технологий – асс. Попова А.В.</dt>
						<dd class="col-sm-9">alexandrapopova7891@gmail.com</dd>

						<dt class="col-sm-3">Кафедра технологий обработки и защиты информации – инж. Савченко С.В.</dt>
						<dd class="col-sm-9">savchenko_s@cs.vsu.ru</dd>

						<dt class="col-sm-3">кафедра информационных технологий управления – доц. Копытин А.В.</dt>
						<dd class="col-sm-9">alexkopytin@gmail.com</dd>
				</dl>
				<p>
					Каждая статья проходит этапы рецензирования и редактирования, после которых может возникнуть необходимость доработки статьи<br>

					Авторы должны устранить замечания (куратора) редактора в течении 5 дней со дня получения замечаний<br>

					Редактор оставляет за собой право на корректуру статей авторов, не меняя основную смысловую нагрузку присланного материала<br>
				</p>



				<h1>Требования к оформлению</h1>
				<ul>
					<li>Рекомендуемый объем статьи в студенческий сборник – 5 страниц.<br></li>
					<li>При необходимости объем статьи можно увеличить (по согласованию с редактором, но не более 8 страниц).<br></li>
					<li>Формат листа А5. Статья подготавливается в программе Microsoft Word  2003-2019. <br></li>
					<li>Для оформления статей необходимо использовать файл-шаблон (Template.doc)<br></li>
					<li>При оформлении статьи обязательны к применению стили форматирования Word, которые содержатся в файле Template.doc или в файлах примеров.<br></li>
					<li>Текст статьи должен содержать оригинальные исследования с практической частью и быть структурирован: <br> </li>
					<ul>
							<li>введение (постановка проблемы в общем виде и ее связь с  практическими задачами;
								конкретизация части решаемой проблемы, которой  посвящена статья; не нумеруется);</li>
							<li>основная часть (постановка задачи; изложение основного  материала исследования с обоснованием полученных результатов).
								Может  состоять из нескольких частей, желательна нумерация разделов основной  части (см. Пример.doc);    </li>
							<li>заключение (выводы на основании проведенного исследования); </li>
							<li>библиографический список (литературные ссылки следует  нумеровать в прямых скобках, нумерация сквозная). Библиографическое  описание составляется по ГОСТ 7.1-2003 «Библиографическая запись.  Библиографическое описание.
								Общие требования и правила составления» и  ГОСТ 7.82-2001 «Библиографическая запись. Библиографическое описание  электронных ресурсов»</li>
					</ul>
					Более подробно правила оформления описаны в файле Шаблон (Template.doc).
				</ul>
				</p>
				<div class="card-deck">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
							<img src="../static/images/doc_document.png" class="card-img img-fluid" alt="...">
							</div>
							<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Шаблон</h5>
								<p class="card-text">Шаблон для оформления статей в студенческий сборник научных работ факультета компьютерных наук</p>
								<a href="../static/files/Template.doc" class="card-link">Скачать</a>
							</div>
							</div>
						</div>
					</div>

					<div class="card mb-3" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
							<img src="../static/images/doc_document.png" class="card-img img-fluid" alt="...">
							</div>
							<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Пример</h5>
								<p class="card-text">Пример оформления статей в студенческий сборник научных работ факультета компьютерных наук</p>
								<a href="../static/files/Example.doc" class="card-link">Скачать</a>
							</div>
							</div>
						</div>
					</div>

					<div class="card mb-3" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
							<img src="../static/images/kisspng-zip-computer-icons-5b176e8e9005c0.4787627215282622865899.png" class="card-img img-fluid" height="auto" alt="...">
							</div>
							<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Архив примеров</h5>
								<p class="card-text">Архив примеров оформления статей в студенческий сборник научных работ факультета компьютерных наук</p>
								<a href="../static/files/Examples.rar" class="card-link">Скачать</a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

{% endblock %}